<launch>
	<!-- change args depending on USB -->
	<node name="hamr" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
	<!-- Live plotting -->
	<!--
	<node name="plotter" pkg="rqt_plot" type="rqt_plot" args="/hamr_state/right_motor/velocity /hamr_state/right_motor/desired_velocity /hamr_state/left_motor/velocity /hamr_state/left_motor/desired_velocity" />
	-->
	<node name="plotter" pkg="rqt_plot" type="rqt_plot" args="/hamr_state/turret_motor/velocity /hamr_state/turret_motor/desired_velocity" />
</launch>
